DatabaseExtension/CachedQuery/Queries.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DatabaseCollection">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="Database">
          <xs:complexType>
            <xs:attribute name="ID" type="xs:string" use="required" />
            <xs:attribute name="Database" type="xs:string" use="required" />
            <xs:attribute name="Password" type="xs:string" use="required" />
            <xs:attribute name="ServerAddress" type="xs:string" use="required" />
            <xs:attribute name="UserName" type="xs:string" use="required" />
            <xs:attribute name="DatabaseType" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="Queries">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="Query">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute name="Name" type="xs:string" use="required" />
                      <xs:attribute name="DatabaseID" type="xs:string" use="required" />
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>